{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="d-flex justify-content-center align-items-center medical-bg" style="min-height: 100vh; padding:20px; background: linear-gradient(135deg, #7d93a7ff, #b5c6d3ff);">
    <div class="card shadow-lg p-4 medical-card">

        <!-- Logo -->
        <div class="text-center mb-4">
            <h4 class="fw-bold text-primary mt-2">HealthConnect</h4>
            <p class="text-muted small">Log in to continue</p>
        </div>

        <!-- Display messages -->
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

        <!-- Login Form -->
        <form method="POST">
            {% csrf_token %}

            <!-- Email or Username -->
            <div class="mb-3">
                <label for="id_email" class="form-label fw-semibold">Username / Email</label>
                <input type="text" 
                       name="email" 
                       class="form-control input-medical" 
                       id="id_email" 
                       placeholder="Enter your username or email"
                       required>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label for="id_password" class="form-label fw-semibold">Password</label>
                <input type="password" 
                       name="password" 
                       class="form-control input-medical" 
                       id="id_password" 
                       placeholder="Enter password"
                       required>
            </div>

            <div class="text-end mb-3">
                <a href="#" class="text-decoration-none small text-primary">Forgot password?</a>
            </div>

            <button type="submit" class="btn btn-medical w-100 fw-bold py-2">Sign In</button>

            <p class="text-center mt-3 small">
                Don't have an account? 
                <a class="text-decoration-none text-primary fw-semibold" href="{% url 'signup' %}">
                    Create new account
                </a>
            </p>
        </form>

    </div>
</div>

{% endblock %}
